// The application color theme is set in the configuration object 
// for vuetify (src/plugins/vuetify) https://vuetifyjs.com/ru/framework/theme

// vuetify automatically creates css color variables from the theme object
// ths file allows use these colors with the same names in style lang="scss" tag

$primary: var(--v-primary-base);
$secondary: var(--v-secondary-base);
$accent: var(--v-accent-base);
$error: var(--v-error-base);

$black: var(--v-black-base);
$white: var(--v-white-base);