@import "./_animations.scss";
@import "./_colors.scss";
@import "./_constatnts.scss";

@mixin shadow () {
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin pulse {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}